.about-me-work2 {
  .about-me-work-container {
    padding-top: 40px;
    .sesction {
      display: flex;
      padding-top: 20px;
      align-items: stretch;
      height: auto;
      .about-me-main-image-container {
        flex: 0 0 50%;
        height: auto;
        display: flex;
        align-items: stretch;
        max-height: 45em;
        width: 48%;
        @media (max-width: 1024px) {
          width: 100%;
        }
        video {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          object-position: center;
          border-top-right-radius: 57px;
          max-height: 45em;
          @media (max-width: 1024px) {
            border-top-right-radius: 0;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      padding: 0;
    }
    .section {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 20px;
      .image-secondary-container {
        width: 48%;
        max-height: 45em;

        @media (max-width: 1024px) {
          width: 100%;
        }
        video {
          width: 100%;
          height: 100%;
          border-top-left-radius: 57px;
          object-fit: cover;
          object-position: center;
          @media (max-width: 1024px) {
            border-top-left-radius: 0;
          }
        }
      }
      @media (max-width: 1024px) {
        flex-direction: column-reverse;
      }
    }
    .text-section {
      flex: 1;
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 20px;
      font-family: Helvetica;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.5px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 80px;
      h1 {
        color: #a9a7a7;
      }
      h2 {
        font-family: Helvetica;
        font-size: 50px;
        font-weight: 400;
        line-height: 69px;
        letter-spacing: -1.256410002708435px;
        text-align: left;
        color: #a9a7a7;
        margin: 15px 0;
      }
      p {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.502564013004303px;
        text-align: left;
        color: #a9a7a7;
      }
    }
    @media (max-width: 1024px) {
      .text-section {
        padding: 0 20px;
      }
    }
    @media (max-width: 1024px) {
      .section,
      .sesction {
        flex-direction: column-reverse;
      }
      .text-section {
        margin: 0;
        display: flex;
        align-items: center;
        h1,
        h2 {
          margin-top: 0;
          margin-bottom: 0;
          font-family: Helvetica;
          font-size: 36px;
          font-weight: 400;
          line-height: 49.68px;
          letter-spacing: -1.256410002708435px;
          text-align: center;
        }
        .p {
          font-family: Helvetica;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -0.502564013004303px;
          text-align: left;
        }
      }
    }
  }
  .additional-info-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    .additional-info {
      font-family: Zen Antique Soft;
      font-size: 25px;
      font-weight: 400;
      line-height: 36.2px;
      letter-spacing: -1.256410002708435px;
      text-align: left;
      color: #a9a7a7;
    }
    .additional-info-mobile {
      display: none;
    }
    @media (max-width: 768px) {
      justify-content: left;
      align-items: flex-start;
      .additional-info {
        display: none;
      }
      .additional-info-mobile {
        display: flex;
        font-family: Zen Antique Soft;
        font-size: 25px;
        font-weight: 400;
        line-height: 36.2px;
        letter-spacing: -1.256410002708435px;
        text-align: left;
        color: #a9a7a7;
      }
    }
  }
  .training-line-1,
  .training-line-2 {
    width: 106px;
    margin-top: 20px;
  }

  .training-line-1 {
    margin-right: 230px;
  }
  .training-line-2 {
    margin-right: 260px;
  }
}
