.about-i-container{
  display: flex;
  flex-direction: column;
  .about-i-text {
    color: #a9a7a7;
    padding: 40px 40px;
    @media (max-width: 1024px) {
      padding: 40px 20px;
    }
    .about-i-title {
      font-family: Helvetica;
      font-size: 44px;
      font-weight: 400;
      line-height: 60.72px;
      text-align: center;
    }
    .about-i-desciption {
      font-family: Helvetica;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.502564013004303px;
      text-align: left;
      margin-top: 30px;
      @media (max-width: 768px) {
        text-align: left;
      }
    }
  }
  .about-i-img {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      max-height: 30em;
    }
  }
}
