.answer-main1 {
  background-image: url('../../../assets/etienne-beauregard.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    height: 65vh;
  }
  margin-bottom: 20px;
}
