.contacts-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: linear-gradient(
  //  180deg,
  //  #000000 16.05%,
  //  #1b0000 37.28%,
  //  #710404 46.62%,
  //  #11023e 75.6%,
  //  #09021c 98%
  //);

}
